<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="message" method="POST">
    Message: <br>
	<textarea name="message" rows="5"></textarea>
	<br>
    <input type="submit" value="送信する">
	</form>
	<br>
	<%= @message %>
</body>
</html>
